
html {
	background-color: #ccc;
}

#resume, #contact, #portfolio {
	display: none;
}

#entryButton {
	border-radius: 10px;
	background-color: azure;
}

header {
	background-color: azure;
	padding: 1.7vw 4vw 1.7vw 4vw;
}

#photo {
	float: right;
	height: 150px;
	width: 150px;
	border: 2px groove darkslategrey;
  border-radius: 10px;
}

h1 {
	font-size: 40px;
}

.intro {
	font-family: 'Trebuchet MS', Arial, sans-serif;
	font-size: 16px;
	padding: 1.7vw 0 1.7vw 4vw;
}

header nav {
  margin-left: 4vw;
}

.navButton {
  display: inline;
  margin-right: 1.7vw;
	font-size: 22px;
  color: darkred;
}

main {
	background-color: #eee;
  padding-bottom: 15px;
	margin-bottom: 40px;
}

main section {
  display: inline-block;
  vertical-align: top;
}

main section:first-child {
	margin-left: 2vw;
}

.title {
	margin: 10px 0px 10px 3vw;
}

.topic {
	border: 3px groove darkslategrey;
  border-radius: 10px;
	padding-right: 1vw;
  margin-right: 2vw;
}

.Experience {
  width: 60vw;
}

.Education {
  width: 32vw;
}

.contentItem li{
	margin-top: 8px;
	line-height: 1.2em;
}

.listTitle {
	font-weight: bold;
	margin-top: 14px;
	margin-bottom: 0px;
}
